body{
    background: url("../img/other/background.png") no-repeat center center fixed;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover;*/
}

#checkpoints {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
  }

  .title {
      text-align: center;
      position: absolute;
      top: 2%;
      left: 32%;
      color: white;
  }
  .planet1 {
    position: absolute;
    top: 17%;
    left: 45%;
    width: 15%;
    height: 10%;
  }
  .planet2 {
    position: absolute;
    top: 30%;
    left: 24%;
    width: 15%;
    height: 10%;
  }
  .planet3 {
    position: absolute;
    top: 44%;
    left: 7%;
    width: 15%;
    height: 10%;
  }
  .planet4 {
    position: absolute;
    top: 47%;
    left: 42%;
    width: 15%;
    height: 10%;
  }
  .planet5 {
    position: absolute;
    top: 54%;
    right: 8%;
    width: 15%;
    height: 10%;
  }
  .planet6 {
    position: absolute;
    bottom: 20%;
    right: 23%;
    width: 15%;
    height: 10%;
  }
  .planet7 {
    position: absolute;
    bottom: 24%;
    left: 23%;
    width: 15%;
    height: 10%;
  }
  .planet8 {
    position: absolute;
    bottom: 8%;
    left: 35%;
    width: 15%;
    height: 10%;
  }