
#right, #left, #up, #down, #run, #save {
    max-width: 3%;
    max-height: 3%;
}

.canvas {
    display:inline;
}

.algorithm {
    display: inline;

}

#rocketman {
    position: relative;
    /* max-width: 2.5%; */
    /* max-height: 2.5%; */
    left: 205px;
    bottom: 250px;
}