body {



}


#right, #left, #up, #down, #run {
    max-width: 3%;
    max-height: 3%;
}



.buttons2 {

}

canvas {
    background-color: black;
}

.algorithm {
    display: inline;
    float: top;
}

#rocketDiv {
    display: inline-block;
    position: relative;
}

#rocket{
    position: relative;
    left: 150px;
    top: -305px;
}